target/
.git/
.github/
.idea/
*.iml
.vscode/
logs/
*.log

src/main/resources/application-local.properties
src/main/resources/application-local.yml
src/main/resources/application-local.yaml
src/main/resources/application-secrets.properties
src/main/resources/application-secrets.yml
src/main/resources/application-secrets.yaml
*.tmp
*.temp
*.swp
*.swo

.env
.env.*
!.env.example
