# PostgreSQL
POSTGRES_DB=eventomax_productions
POSTGRES_USER=eventomax_productions_app
POSTGRES_PASSWORD=CHANGE_ME

# ms-eventomax-productions
DB_URL=jdbc:postgresql://postgres:5432/eventomax_productions
DB_USER=eventomax_productions_app
DB_PASSWORD=CHANGE_ME
