# ms-eventomax-productions
DB_URL=jdbc:postgresql://<RDS_PRIVATE_ENDPOINT>:5432/<DB_NAME>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>

# Catalog service
CATALOG_BASE_URL=http://ms-eventomax-catalog:8080

# RabbitMQ
RABBITMQ_HOST=<RABBITMQ_PRIVATE_HOST>
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=<RABBITMQ_USER>
RABBITMQ_PASSWORD=<RABBITMQ_PASSWORD>
