# PostgreSQL
POSTGRES_DB=CHANGE_ME
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME

# ms-eventomax-productions
DB_URL=jdbc:postgresql://postgres:5432/CHANGE_ME
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME

# Catalog service
CATALOG_BASE_URL=http://host.docker.internal:8081

# RabbitMQ
RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
